__pycache__/

#saved binaries
saved/

#virtual env
env_*

#local experiments
local_exp/
wandb/

#dataset
data

#evaluation
eval.py

#binaries
*.pkl
*.zip

#results
dt_runs/
dqn_runs/
checkpoints/

#jupyter notebooks
notebooks/

#vscode
.vscode

#mujoco
MUJOCO_LOG.TXT

# OUR
# Runs
!repro_runs/antmaze_umaze_six_methods_20260502_040434/plots/dmlp_reproduction_final_avg_reward.png
repro_runs/
!repro_runs/antmaze_medium_six_methods_slots5_20260505_014732/plots/dmlp_reproduction_final_avg_reward.png
!repro_runs/pointmaze_medium_six_methods_3gpu_slots5_20260507_015200/plots/dmlp_reproduction_final_avg_reward.png
!repro_runs/pointmaze_umaze_six_methods_3gpu_slots5_20260505_193142/plots/dmlp_reproduction_final_avg_reward.png

scripts/